.graphs {
  position:relative;
}

.pieChart {
  position:absolute;
  top:5%;
  left:750px;
}

.lineChart {
  position:absolute;
  bottom:0;
}

.backButton {
  position:absolute;
  top:11px;
  left:11px;
}

.dataSauce {
  position:fixed;
  bottom:0px;
  text-align:center;
  background-color:white;
  border-style:solid;
  border-width:thin;
  border-color:black;
  padding:3px;
}

.line {
  fill: none;
  stroke:black;
  stroke-width: 2px;
}

.tick line{
  opacity: 0.2;
}
