.graphs {
  position:relative;
}

.pieChart {
  position:absolute;
  top:0;
  left:700px;
}

.lineChart {
  position:absolute;
  top:550px;
  left:700px;
}

.backButton {
  position:absolute;
  top:11px;
  left:11px;
}

.dataSauce {
  position:fixed;
  bottom:0px;
  text-align:center;
  background-color:white;
  border-style:solid;
  border-width:thin;
  border-color:black;
  padding:3px;
}

.line {
  fill: none;
  stroke:black;
  stroke-width: 2px;
}

.tick line{
  opacity: 0.2;
}

.map {
  position: absolute;
}

.invisible {
  position: absolute;
  visibility: hidden;
}

g > path {
  stroke: #6e6e6e;
}
